@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
    font-weight: bold;
    color: rgb(214, 120, 83);
}

header nav img{
    height: 32px;
}

a{
    text-decoration: none;
    color: inherit;
}

header{
    background: no-repeat center/cover url("ia-generativa.jpg.webp");
    height: calc(100vh - 100px);
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 90px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav p {
    font-weight: left;
}

.header-content {
    max-width: auto;
    margin: 150px auto;
    text-align:  center;
}

.header-content h1 {
    margin-bottom: 10px;
    font-size: 3rem;
    color: rgba(0, 235, 51, 0.993);
}

.Info .Info-title {
    width: 100%;
    text-align: unset;
    margin:25px 0;
    font-size: 3rem;

}

.Info {
    background: no-repeat center/cover url("fortes-tecnologia-inteligencia-artificial.webp") ;
    padding: 15px;
}

.Info .Info-card{
    display: flex;
    margin: auto;
    max-width: 950px;
    flex-wrap: wrap;
    justify-content: center;
}

.Info img {
    width: 250px;
    height: 200px;
    border-radius: 24px 0 0 0;
}

.Info .card{
    width: 250px;
    background: rgb(15, 15, 15);
    border-radius: 25px 0;
    margin: 25px;
    position: relative;
}

.Info .card-content {
    padding: 0 15px;
}

.Info ,.card-content ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.Info .card-content ul li {
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    margin: 3px 0;
    color: rgb(17, 16, 16);
    font-weight: bold;
}

.Info .card-content li svg{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.Info .card-content h1{
    font-size: 1rem;
}

.Info .card .card-tag-top {
    position: absolute;
    right: 0;
    top: 15px;
    background: #020202;
    border-radius: 8px 0 0 8px;
    padding: 5px 10px;
}

.Info .card .card-tag-bottom {
    position: absolute;
    left: 0;
    top: 160px;
    background: #141414;
    border-radius: 8px 0 0 8px;
    padding: 5px 10px;
}

.Info .card .card-tag p {
    margin: 0;
    font-size: 0.8rem;
    color: rgb(172, 42, 42);
    font-weight: bold;
}

.Relato {
    background:  url("upload.png");
    padding: 15px;
}


.Relato .Relato-title{
    text-align: center;
    margin: 35px 0;
    color: rgb(236, 71, 5);
}

.Relato .Relato-cards {
    margin-top: 25px;
    display: flex;
    max-width: 950px;
    justify-content: center;
    margin: auto;
    color:  rgb(236, 71, 5) ;
}

.Relato .card {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.contato {
    height: 380px;
    background: rgb(6, 161, 19);
    padding: 15px;
}

.contatos .linkedin svg {
    color: white;
    
}

.contatos .facebook svg {
    color: #0d3c92;
}

.contatos .instagram svg {
    color: rgb(156, 10, 144);
}
body {
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  #input {
    width: 300px;
    margin: 0 auto;
  }
  
  #input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  #saida {
    width: 300px;
    margin: 0 auto;
  }
  
  #saida ul {
    list-style-type: none;
  }
  
  #saida li {
    margin-bottom: 10px;
  }
  